<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
               
                <div class="avatar">
                    <img alt="" src="http://i2.listal.com/image/1876537/936full-alexandra-daddario.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        Alessandra Daddairo
                    </div>
                    <div class="desc">Looking for: Friends, possible mate</div>
                    <div class="desc">One liner:Aspiring actress, Develops secretly at night</div>
                    <div class="desc">Tech geek</div>
                </div>
                <div class="bottom">
                
                  <div class="btn cat">PS4</div>
                  <div class="btn cat">Board Games</div>
                  <div class="btn cat">PC Games</div>
                </div>
                <div class="silenole">
                  <button type="button" class="btn btn-lg btn-danger">Pass</button>
                  <button type="button" class="btn btn-lg btn-success">Friend</button>
                </div>
            </div>

        </div>

	</div>
</div>